<!-- CTA Final -->
<div th:fragment="cta" class="row mt-5 pt-5 pb-5 text-center position-relative" xmlns:th="http://www.thymeleaf.org">
    <div class="position-absolute top-50 start-50 translate-middle w-50 h-100 rounded-circle cta-vortex-bg">
    </div>

    <div class="col-12 z-1">
        <h3 class="mb-4 display-5 fw-bold"><span class="text-white">Escala tu</span> <span class="text-gradient">Misery
                Index</span></h3>
        <p class="text-white mb-5 font-monospace fs-5 cta-subtitle">Acceso Anticipado Cerrado.
            Quedan 3 tokens disponibles.
        </p>
        <a th:href="@{/contract}"
            class="btn btn-gradient btn-lg px-5 py-4 fw-bolder rounded-pill text-uppercase shadow-lg fs-5 text-white">
            ACEPTAR MI DESTINO Y MINTEAR
        </a>
    </div>
</div>